* {
    padding: 0px;
    margin: 0px
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header stylished */
.header-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
    gap: 90px;
}

.header-text {
    width: 50%;
    margin-left: 50px;
    margin-top: 100px;
}

.header-img {
    width: 535px;
    margin-top: 10px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    width: 508px;
    flex-direction: column;
    margin-bottom: 30px;
}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

.btn {
    background-color: #E55473;
    border: none;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;

}