* {
    padding: 0px;
    margin: 0px
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header stylished */
.header-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
    gap: 90px;
}

.header-text {
    width: 50%;
    margin-left: 50px;
    margin-top: 100px;
}

.header-img {
    width: 535px;
    margin-top: 10px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    width: 508px;
    flex-direction: column;
    margin-bottom: 30px;
}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

.btn {
    background-color: #E55473;
    border: none;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;

}

/* Featured style added */
.featured-text {
    padding: 20px 400px;
    text-align: center;
    margin-top: 78px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.images-1 {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 250px;
    height: 390px;
}

.featured-img img {
    padding: 20px;
    width: 310px;
    height: 400px;
    flex-shrink: 0;
    margin-right: 24px;
}

.featured-img {
    margin: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption {
    color: #272727;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-decoration-line: underline;
}

/* feature services */
/* .feature-service {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: rgba(39, 39, 39, 0.05);
}

.img-caption {
    margin-right: 50px;
    text-decoration: none;
}

.service{
    margin-right: 30px;
}
.service img{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* Hot deal section */
.hot-deal-container {
    margin-top: 128px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 215px;
    padding: 40px;
}

.hot-child {
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

.hot-des {
    margin-bottom: 24px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.hot-deal-container img {
    width: 318px;
    height: 420px;
}

.hot-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hot-child1{
    margin-top: 80px;
}

/* Instagram section stylished */
.instagram {
    margin-top: 128px;
    text-align: center;
    padding-right: 350px;
    padding-left: 350px;
}

.ista-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insta-des {
    display: flex;
    width: 594px;
    flex-direction: column;
    margin-top: 18px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.insta-image {
    margin-top: 48px;
    /* margin-right: 24px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 56px;
}

.insta-image img {
    width: 270px;
    height: 280px;
    margin-right: 24px;
}