* {
    padding: 0px;
    margin: 0px
}

body {
    font-family: 'Poppins', sans-serif;
}

/* navbar style */

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between;*/
    /* margin: 0px 226px;  */
    height: 80px;
    gap: 700px;
    text-align: center;
    background-color: rgba(197, 182, 182, 0.468);
}

.title{
    margin-left: 50px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}



/* header stylished */
.header-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
    gap: 90px;
    height: 820px;
}

.header-text {
    width: 50%;
    margin-left: 50px;
    margin-top: 100px;
}

.header-img {
    width: 50%;
    margin-bottom: -60px;
    width: 650px;
    height: 800px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    width: 508px;
    flex-direction: column;
    margin-bottom: 30px;
}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

.btn {
    background-color: #E55473;
    border: none;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;

}

/* Featured style added */
.featured-text {
    padding: 20px 400px;
    text-align: center;
    margin-top: 78px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.images-1 {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 250px;
    height: 390px;
}

.featured-img img {
    padding: 20px;
    width: 310px;
    height: 400px;
    flex-shrink: 0;
    margin-right: 24px;
}

.featured-img {
    margin: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption {
    color: #272727;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-decoration-line: underline;
}

/* Experts section */
.experts-container{
    margin-top: 50px;
}


.expert-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.experts-parent-title{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;

}

.expert-desc{
    margin-left: 60px;
    margin-bottom: 20px;
}
.exper-title{
    margin-top: 10px;
    margin-left: 60px;
}


.expert-text{
    padding-right: 410px;
    padding-left: 410px;
    text-align: center;
}

/* feature services */
.feature-service {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: rgba(39, 39, 39, 0.05);
    margin-right: 130px;
    margin-left: 110px;
}

.img-caption {
    margin-right: 50px;
    text-decoration: none;
}

.service {
    text-align: center;
    display: flex;
}

.service img {
    margin-right: 45px;
}

/* Hot deal section */
.hot-deal-container {
    margin-top: 128px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 215px;
    padding: 40px;
}

.hot-child {
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

.hot-des {
    margin-bottom: 24px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.hot-deal-container img {
    width: 318px;
    height: 420px;
}

.hot-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hot-child1 {
    margin-top: 80px;
}

.hot-span {
    color: #E55473;
}

/* Instagram section stylished */
.instagram {
    margin-top: 128px;
    text-align: center;
    padding-right: 350px;
    padding-left: 350px;
}

.ista-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insta-des {
    display: flex;
    width: 594px;
    flex-direction: column;
    margin-top: 18px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.insta-image {
    margin-top: 48px;
    /* margin-right: 24px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 56px;
}

.insta-image img {
    width: 270px;
    height: 280px;
    margin-right: 24px;
}

/* laest deals */
.latest-container {
    margin-top: 120px;
    margin-right: 97px;
    margin-left: 96px;
    margin-bottom: 120px;
    text-align: center;
    height: 349px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    background-repeat: none;
    background-position: center;
}

.latest-title {
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: rgba(39, 39, 39, 1);
}

.latest-des {
    margin-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.email-input {
    width: 500px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    border: none;
    text-align: left;
    padding: 8px;
}

.submit {
    color: white;
    height: 49px;
    padding: 10px;
    background-color: #E55473;
    border: none;
    width: 150px;
    border-radius: 4px;
    margin-left: 3px;
    cursor: pointer;
}

/* footer */
.footer {
    padding-left: 430px;
    padding-right: 430px;
    text-align: center;
    height: 349px;
    background: #111010;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.footer-span {
    color: #E55473;
}

.footer-des {
    margin-bottom: 20px;
}